<div class="ad">
</div>
<div class="header">
    <h1 class="head">Favori Ürünlerimiz</h1>
    <div class="line"></div>
</div>
<main>
    <div class="card-container">
        <div *ngFor="let product of populerProducts" class="card">
            <img src="{{basePath+ product.imagePath}}" alt="">
            <div class="card-content">
                <h3>{{product.productName}}</h3>
                <span>Fiyat : {{product.unitPrice}} TL</span>
                <a routerLink="productDetay" fragment="productId={{product.productId}}" class="readMoreBtn">İncele</a>
            </div>
        </div>
    </div>
</main>
