<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    <header class="header">
        <a routerLink="" ><img class="logo" src="../assets/shopping-cart.png" alt=""></a>
        
        <div>
          <input type="search" id="searchBar" placeholder="Aramak istediğiniz ürün ismini giriniz.">
          <i class="fas fa-search searchIcon"></i>
        </div>
    
        <nav class="navbar">
          <a routerLink="">Home</a>
          <a href="products">Ürünler</a>
          <a href="baskets">Sepetim</a>
          <img src="../assets/user.png" alt="" class="userimg">
        </nav>
    </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <div class="footerContainer">
          <div class="socialIcons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-google-plus"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div class="footerNav">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Our Team</a></li>
            </ul>
          </div>
          <div class="footerBottom">
            <p>Copyright &copy;2024; Designed by <span class="designer">Shopier</span></p>
          </div>
        </div>
      </footer>
</body>
</html>